#topbar {
  width: max-content;
}

.topbar_wrapper {
  gap: 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 20px;

  &__title {
    font-size: 15px;
    color: #353d35;
    font-weight: 600;
    line-height: 17.58px;
    text-align: right;
    margin-bottom: 2px;
  }

  &__subtitle {
    font-size: 12px;
    color: #7d867d;
    text-align: right;
    margin: 0;
  }

  &__pic {
    width: 40px;
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 100%;
    }
  }
}
