.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.i-transition {
  transition: all 0.3s ease;
}
.pageChange-enter-active {
  animation: pageChange 300ms ease-out;
}
.pageChange-leave-active {
  animation: pageChange 300ms ease-in reverse;
}

@keyframes pageChange {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

svg path {
  transition: all 200ms ease;
}
